
<mat-toolbar>
   <span>REGISTRATION</span>
</mat-toolbar>
<mat-card class="my-card" style="padding-bottom:70px ;">

   <div class="register">

<mat-card-content>
   <form class="my-form">
      <mat-form-field class="full-width">
             <mat-label>First Name</mat-label>
             <input  matInput  placeholder="First name"  name="fname"  required>
          </mat-form-field>
          <mat-form-field class="full-width">
             <mat-label>Last Name</mat-label>
             <input  matInput  placeholder="Last Name" name="lname"  required>
          </mat-form-field>
          <mat-form-field class="full-width">
             <mat-label>Address</mat-label>
             <input  matInput  placeholder="Address" name="address"  required>
          </mat-form-field>
          <mat-form-field class="full-width">
             <mat-label>Email</mat-label>
             <input  matInput  placeholder="Email" name="email">
          </mat-form-field>
          <mat-form-field class="full-width">
             <mat-label>Password</mat-label>
             <input  matInput  placeholder="Password"  name="password">
          </mat-form-field>
   </form>
 <div class="btn">
   <button mat-raised-button type="submit" color="primary">Submit</button>
   <button mat-raised-button class="btn2" type="reset" color="primary">Clear</button>
 </div>
</mat-card-content>

</div>
</mat-card>