
    
<ul class="list-group">
    <li class="list-group-item" aria-current="true">
      <h2>Shoes for men</h2>
      <h4>Sparx</h4>
     </li>
    <li class="list-group-item">
      <h2>Watch for men</h2>
      <h4>Fastrack</h4>
    </li>
    <li class="list-group-item">
      <h2>T-shirts for men</h2>
      <h4>LEVI'S</h4> 
    </li>
    <li class="list-group-item">
      <h2>Earphones</h2>
      <h4>boAt</h4> 
    </li>
    <li class="list-group-item">
      <h2>Shirts for men</h2>
      <h4>U.S.Polo Assn.</h4> 
    </li>
    <li class="list-group-item">
      <h2>Men's Slippers</h2>
      <h4>Crocs</h4> 
    </li>
  </ul> 
